/*estilos del contenedor del producto*/
.appp{
    font-family: sans-serif;
    /* text-align: center; */
   
    height: auto;
    width: 100%;

 
}
.container{
        position:relative;
        margin-left: 1vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        width:90%;   
        height: 22vw;
        background-color: rgb(255, 255, 255);
        border-radius:.5vw;
        border:solid .1vw;
        border-color:rgba(105, 105, 105, 0);
        transition:.5s;
        box-shadow: 0vw .4vw .6vw .1vw rgb(219, 219, 219);
        cursor: pointer;
        display: flex;
        justify-content: center;
   
}
.container:hover{
    box-shadow: 0vw .4vw .6vw .1vw rgb(170, 170, 170);
    border-color:rgb(158, 158, 158);
}
.tittle_product{
    color:rgb(78, 78, 78);
    font-size: 1vw;
    text-align: left;
    margin-left: 10%;
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: 600;
    letter-spacing: .1vw;
}
.items{
    margin-top:-1vw;
    border-radius: .8vw;
    width: 85%;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow:hidden;
   
    background-color: rgb(255, 255, 255);
    box-shadow:0vw 0.2vw .5vw .1vw rgb(220, 220, 220)
}
.descriptionProduct{
    text-align:justify;
    width:90%;
    font-size: 70%;
    margin-bottom: 4%;
    color: rgb(133, 133, 133);
    margin-left: 4%;
}
.cont_button{
   
    position: absolute;
    background-color: rgb(37, 37, 37);
    width: 100%;
  
 
    padding-top: 2%;
    font-size: 80%;
    bottom: 0vw;
}
.cont_button a{
   color: rgb(255, 255, 255);
   position: relative;
   display:flex;
   justify-content: center;
   align-items: center;
}

.icon_product{
    position: relative;
    color:rgb(255, 255, 255);
    transition:.4s;
}

.cont_button:hover .icon_product{
    margin-left: 1vw;
     
 }
 
@media screen and (min-width:600px)and (max-width:959px){
    .cont_button{
 
        border-radius: .6vw;
        margin-bottom: 4%
    }
  
    .cont_button a{
        
        top: 10%;
     }
    .items{
        height: 20vw;
    }
 
}
@media screen and (min-width:300px)and (max-width:599px){
    .container{
        width:95%;
        height: 88vw;
    }
    .items{
        height: 42vw;
    }
    .descriptionProduct{
    
       font-size: 70%;
       
        margin-bottom: 2%
    
    }
    .cont_button{
        
        border-radius: 1vw;
  
    }
}
@media screen and (min-width:960px)and (max-width:1366px){

   
    .descriptionProduct{
    
       font-size: 70%;
       
        margin-bottom: 2%
    
    }
}